<footer class="footer">
    <div class="footer__container">
        <p class="footer__title">- Get in touch with us -</p>
        <p class="footer__info">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. <span class="footer__span">Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span></p>
        <div class="footer__icons">
            <a href="#"><img class="footer__icon" src="@img/RSS.png" alt="rss"></a>
            <a href="#"><img class="footer__icon" src="@img/Facebook.png" alt="facebook"></a>
            <a href="#"><img class="footer__icon" src="@img/Twitter.png" alt="twitter"></a>
            <a href="#"><img class="footer__icon" src="@img/Dribbble.png" alt="dribbble"></a>
            <a href="#"><img class="footer__icon" src="@img/Pinterest.png" alt="pinterest"></a>
        </div>
        <div class="footer__subtitle">
            <span>Moonshine St. 14-05 Light City /</span>
            <span>T. +00 (123) 456 78 90 /</span>
            <span>first.last@email.com</span> 
        </div>


    </div>

</footer>