<header class="header">
    <div class="header__container">
        <div class="header__body">
            <div class="header__burger">
              <span></span>
            </div>
            <nav class="header__menu">
              <ul class="header__list">
                <li><a class="header__link" href="#">Home</a></li>
                <li><a class="header__link" href="#">About us</a></li>
                <li><a class="header__link" href="#">Our Journal</a></li>
                <li><a class="header__link" href="#">Projects</a></li>
                <li><a class="header__link" href="#">News</a></li>
                <li><a class="header__link" href="#">Features</a></li>
                <li><a class="header__link" href="#">Contact</a></li>
              </ul>
            </nav>
          </div>
        

        </div>
    
    </div>
</header>