<section class="section1">
    <div class="section1__container">
        <div class="section1__title">
            <a class="section1__link" href="#">- Our recent posts</a>
        </div>
        <div class="section1__cards">
            <div class="section1__card">
                <img class="section1__card-img" src="@img/card1.png" alt="card1">
                <div class="section1__card-info">
                    <a class="section1__card-link" href="#">Aenean Adipiscing Etiam Vestibulum</a>
                    <p class="section1__card-desc">Photography, Journal / 9 Comments</p>
                    <p class="section1__card-sub">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
                
            </div>
            <div class="section1__card">
                <img class="section1__card-img" src="@img/card2.png" alt="card1">
                <div class="section1__card-info">
                    <a class="section1__card-link" href="#">Aenean Adipiscing Etiam Vestibulum</a>
                    <p class="section1__card-desc">Photography, Journal / 9 Comments</p>
                    <p class="section1__card-sub">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="section1__card">
                <img class="section1__card-img" src="@img/card3.png" alt="card1">
                <div class="section1__card-info">
                    <a class="section1__card-link" href="#">Aenean Adipiscing Etiam Vestibulum</a>
                    <p class="section1__card-desc">Photography, Journal / 9 Comments</p>
                    <p class="section1__card-sub">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="section1__card">
                <img class="section1__card-img" src="@img/card4.png" alt="card1">
                <div class="section1__card-info">
                    <a class="section1__card-link" href="#">Aenean Adipiscing Etiam Vestibulum</a>
                    <p class="section1__card-desc">Photography, Journal / 9 Comments</p>
                    <p class="section1__card-sub">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
        </div>
    </div>
</section>