<section class="section2">
    <div class="section2__container">
        <div class="section2__links">
            <a class="section2__link" href="#">- Latest Instagram Shots</a>
            <a class="section2__link" href="#">go to our instagram page -</a>
        </div>
        <div class="section2__insta-shots">
            <div class="section2__insta-shot">
                <img class="section2__insta-img" src="@img/insta1.png" alt="insta1">
            </div>
            <div class="section2__insta-shot">
                <img class="section2__insta-img" src="@img/insta2.png" alt="insta2">
            </div>
            <div class="section2__insta-shot">
                <img class="section2__insta-img" src="@img/insta3.png" alt="insta3">
            </div>
            <div class="section2__insta-shot">
                <img class="section2__insta-img" src="@img/insta4.png" alt="insta4">
            </div>
        </div>
    </div>

</section>