.footer{
    background-color: black;
    padding: 0 10px;
    min-width: 320px;
    
    &__container{
        max-width: 684px;
        margin: 0 auto;
        padding-top: 66px;
        padding-bottom: 70px;
        color: #B9B9B9;
        @include flex-center;
        flex-direction: column;
        text-align: center;
    }
    &__title{
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 22px;
    }
    &__icons{
        display: flex;
        column-gap: 6px;
        margin-bottom: 34px;
    }
    &__icon{
        width: 34px;
        height: 34px;
    }
    &__info{
        line-height: 28px;
        margin-bottom: 37px;
    }
    &__subtitle{
        @include flex-center;
        column-gap: 6px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        @media screen and (max-width: 576px){
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 481px) {
    .footer{
        font-size: 12px;

        &__container{
            // width: 303px;
            padding-top: 38px;
            padding-bottom: 47px;
        }
        &__title{
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 8px;

        }
        &__icons{
            margin-bottom: 26px;
        }
        &__info{
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 26px;
        }
        &__span{
            display: none;
        }
        &__subtitle{
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            flex-direction: column;
        }
    }
}