.header{
    &__container{
        max-width: 1770px;
        min-width: 320px;
        margin: 0 auto;
        height: 117px;
        @include flex-center;
    }
    &__list{
        @include flex-center;
        column-gap: 68px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 1.1px;
        white-space: nowrap;
    }
    &__link{
        color: $links-color;
    }
    &__link:hover{
        color: #57A4A4;
    }
}

@media screen and (max-width: 481px){
    .header{
        &__container{
            height: 83px;
            justify-content: flex-end;
            padding-right: 28px;
        }
        
    }
}


@media screen and (max-width: 992px){
    .header{
        &__container{
            height: 105px;
            margin: 0 auto;   
        }
        &__list{
            column-gap: 34px;
        }
    }
}

@media screen and (max-width: 684px){
    .header {
        &__list{
            column-gap: 10px;
        }
    }
}
@media screen and (max-width: 562px){
    .header {
        &__list{
            column-gap: 6px;
        }
    }
}
.header__body{
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
}


.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list li{
    list-style: none;
    padding: 0px 0px 0px 12px;
}

@media (max-width: 481px) {
    body.lock{
        overflow: hidden;
    }
    .header__body{
        height: 83px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 44px;
        height: 37px;
        background-color: black;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: white;
        left: 13px;
        width: 17px;
        height: 3px;
        top: 17px;
        transition:  all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: white;
        position: absolute;
        width: 17px;
        height: 2px;
        left: 13px;
        transition:  all 0.3s ease 0s;
    }
    .header__burger::before{
        top: 13px;
    }
    .header__burger::after{
        bottom: 13px;
    }

    .header__burger.active span{
        transform: scale(0);
    }

    .header__burger.active::before{
        transform: rotate(45deg);
        top: 17px;
    }
    
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 18px;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        width: 182px;
        height: 224px;
        overflow: auto;
        background: #F5F5F5;
        transition:  all 0.3s ease 0s;
    }

    .header__menu.active{
        top: 71px;
    }
    .header__list{
        display: block;
    }
    .header__link {
        color: #4e4e4e;
        position: relative;
        top: 6px;
        letter-spacing: 1.1px;
    }
    li{
        height: 32px;
    }
    .header__list:hover{
        color: #57A4A4;
    }
    li:hover{
        background: #E5E5E5;
       
    }

}