.header_bg {
    background-image: url("../img/intro-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 10px;
    max-width: 1170px;
    min-width: 320px;
    height: 550px;
    margin: 0 auto;
    @media screen and (max-width: 992px){
       height: 361px;
    }
    @media screen and (max-width: 481px){
        height: 150px;
    }
}