.section2{
    background-color:  #E9EDEF;
    &__container{
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 10px 47px 10px;
        min-width: 320px;
    }
    &__insta-shots{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        margin: 0 auto;
        height: 285px;

        @media screen and (max-width: 992px){
            grid-template-columns: repeat(3, 1fr);
            height: 249px;
        }
        @media screen and (max-width: 481px){
            grid-template-columns: repeat(1, 1fr);
            height: 301px;
        }
    }
    &__insta-img{
        width: 100%;
        height: 100%;
    }
    &__links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 47px;
        padding-bottom: 24px;
    }
    &__link{
        color:$links-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
    }
}


@media (max-width: 992px){
    .section2{
        &__container{
            padding: 0 10px 42px 10px;
            max-width: 768px;
        }
        &__title{
            font-size: 14px;
            line-height: 22px;
        } 
        // &__insta-img{
        //     max-width: 249px;
        //     height: 249px;
        // }

        &__links{
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            padding-bottom: 13px;
        }
        &__insta-shots{
            column-gap: 9px;
        }
    }

    .section2__insta-shot:nth-child(4){
        display: none;
    }

}

@media (max-width: 481px){
    .section2{
        background-color: white;
        &__container{
            padding: 0 10px 42px 10px;
            max-width: 320px;
        }
        &__title{
            font-size: 14px;
            line-height: 22px;
        }
        &__insta-shots{
            max-width: 301px;
            height: 301px;
        }


        &__links{
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            padding-bottom: 13px;
        }
    }
    .section2__insta-shot:nth-child(2){
        display: none;
    }
    .section2__insta-shot:nth-child(3){
        display: none;
    }
    .section2__insta-shot:nth-child(4){
        display: none;
    }
    .section2__link:nth-child(2){
        display: none;
    }
}