.section1{
    overflow-x: hidden;
    &__link{
        text-transform: uppercase;
        color: $links-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
    }

    &__title{
        text-align: left;
        padding-top: 66px;
    }
    &__container{
        margin: 0 auto;
        max-width: 1170px;
        padding: 0 10px;

    }
    &__cards{
        display: flex;
        flex-wrap: wrap;
        row-gap: 32px;
        column-gap: 25px;
        margin-top: 24px;
        margin-bottom: 69px;
    }
    &__card{
        display: flex;
        column-gap: 20px;
        width: 560px;
    }
    &__img{
        width: 100%;
        margin-bottom: 66px;
    }
    &__card-img{
        width: 160px;
        height: 140px;
    }
    &__card-info{
        width: 100%;
    }
    &__card-link{
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        color: $links-color;
    }
    &__card-desc{
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: $cards-desc-color;
    }
    &__card-sub{
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
    }
}

@media screen and (max-width: 992px){
    .section1{
        &__container{
            margin: 0 auto;
            max-width: 768px;
        }
        &__cards{
            max-width: 768px;
            margin: 0 auto;
            margin-top: 24px;
            margin-bottom: 60px;
        }
        &__title{
            width: 768px;
            margin: 0 auto;
            padding-top: 56px;
        }
        &__img{
            margin-bottom: 34px;
        }
        &__link{
            font-size: 14px;
            line-height: 22px;
            margin-top: 38px;
        }
        &__card-link{
            font-size: 14px;
            line-height: 30px;
        }
        &__card-desc{
            font-size: 11px;
            line-height: 20px;
        }
        &__card:nth-child(4){
            display: none;
        }
    }
}

@media screen and (max-width: 481px){

    .section1{
        &__container{
            max-width: 320px;
            margin: 0 auto;
        }
        &__img{
            margin-bottom: 34px;
        }
        &__link{
            font-size: 14px;
            line-height: 22px;
            margin-top: 38px;
        }
        &__card{
            flex-direction: column;
        }
        &__cards{
            margin-bottom: 0;
        }
        &__card-sub{
            display: none;
        }
        &__card-link{
            font-size: 14px;
            line-height: 30px;
        }
        &__card-desc{
            font-size: 11px;
            line-height: 20px;
        }
        
    }
    
}

